
@{
    ViewBag.Title = "Usingajax";
}

<h2>Ajax ile dosya okuma</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btn1").click(function () {
            $.ajax({
                url: "/Content/ankara.txt",
                dataType: "text",
                success: function (data) {
                    $("#file").html(data);
                },
                Error: function (data) {
                    alert("dosya okunamadı")
                }
            })
        })
    })



</script>
<div id="file">
    <button id="btn1">dosyaoku</button>
</div>